<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Dashboard{% endblock %}</title>
        <link href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('vendors/nprogress/nprogress.css') }}" rel="stylesheet">
        <link href="{{ asset('vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
        <link href="{{ asset('vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
        <link href="{{ asset('vendors/jqvmap/dist/jqvmap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
        <link href="{{ asset('build/css/custom.min.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('js/angular/angular.min.js') }}"></script>
        <script src="{{ asset('js/controllers.js') }}"></script>
    </head>
    <body class="{% block body_class %}nav-md{% endblock %}" ng-controller="PhoneListController">
        {% block body %}{% endblock %}
        <script src="{{ asset('vendors/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('vendors/fastclick/lib/fastclick.js') }}"></script>
        <script src="{{ asset('vendors/nprogress/nprogress.js') }}"></script>
        <script src="{{ asset('vendors/Chart.js/dist/Chart.min.js') }}"></script>
        <script src="{{ asset('vendors/gauge.js/dist/gauge.min.js') }}"></script>
        <script src="{{ asset('vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
        <script src="{{ asset('vendors/iCheck/icheck.min.js') }}"></script>
        <script src="{{ asset('vendors/skycons/skycons.js') }}"></script>
        <script src="{{ asset('vendors/Flot/jquery.flot.js') }}"></script>
        <script src="{{ asset('vendors/Flot/jquery.flot.pie.js') }}"></script>
        <script src="{{ asset('vendors/Flot/jquery.flot.time.js') }}"></script>
        <script src="{{ asset('vendors/Flot/jquery.flot.stack.js') }}"></script>
        <script src="{{ asset('vendors/Flot/jquery.flot.resize.js') }}"></script>
        <script src="{{ asset('vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
        <script src="{{ asset('vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
        <script src="{{ asset('vendors/flot.curvedlines/curvedLines.js') }}"></script>
        <script src="{{ asset('vendors/DateJS/build/date.js') }}"></script>
        <script src="{{ asset('vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
        <script src="{{ asset('vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
        <script src="{{ asset('vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
        <script src="{{ asset('vendors/moment/min/moment.min.js') }}"></script>
        <script src="{{ asset('vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
        <script src="{{ asset('build/js/custom.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
